:root {
  --roxo: #68308f;
  --teal: #00afa1;
  --lila: #b7a7d0;
  --mint: #c8e6dc;
}

body {
  text-align: center;
  background-color: var(--teal);
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}

h1 {
  font-size: 22px;
  line-height: 33px;
}

h1,
h2 {
  font-family: "Press Start 2P", cursive;
  color: var(--roxo);
  margin: 40px;
}

span {
  font-weight: bold;
}

.crono {
  background-color: var(--mint);
  margin: 0 auto;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
}

ul {
  text-align: left;
}

li {
  padding: 10px;
}

.picture {
  width: 100px;
  border-radius: 50%;
}

.holder {
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
  background-color: var(--lila);
  width: 50%;
  padding: 50px;
  box-shadow: 2px 2px 2px var(--roxo);
  border-radius: 20px;
  align-items: center;
}

.streamer {
  color: var(--roxo);
  font-size: 32px;
  margin: 30px;
}

.infos {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .crono {
    width: 80%;
  }

  .holder {
    flex-wrap: wrap;
    width: 65%;
  }

  .infos {
    width: 100%;
  }

  .picture {
    margin: 30px auto;
  }
}
